# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [3]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [6]:
import pandas as pd

In [7]:
tree = ET.parse( './data/mondial_database.xml' )
root = tree.getroot()

### 10 countries with the lowest infant mortality rates

In [8]:
#obtain a dictionary of country names and mortality rates
record = {}
for element in tree.iterfind('country'):
    try:
        record[element.find('name').text] = [float(element.find('infant_mortality').text)]
    except:
        pass
print (record)

{'Albania': [13.19], 'Greece': [4.78], 'Macedonia': [7.9], 'Serbia': [6.16], 'Andorra': [3.69], 'France': [3.31], 'Spain': [3.33], 'Austria': [4.16], 'Czech Republic': [2.63], 'Germany': [3.46], 'Hungary': [5.09], 'Italy': [3.31], 'Liechtenstein': [4.33], 'Slovakia': [5.35], 'Slovenia': [4.04], 'Switzerland': [3.73], 'Belarus': [3.64], 'Latvia': [7.91], 'Lithuania': [6.0], 'Poland': [6.19], 'Ukraine': [8.1], 'Russia': [7.08], 'Belgium': [4.18], 'Luxembourg': [4.28], 'Netherlands': [3.66], 'Bosnia and Herzegovina': [5.84], 'Croatia': [5.87], 'Bulgaria': [15.08], 'Romania': [10.16], 'Turkey': [21.43], 'Denmark': [4.1], 'Estonia': [6.7], 'Faroe Islands': [5.71], 'Finland': [3.36], 'Norway': [2.48], 'Sweden': [2.6], 'Monaco': [1.81], 'Gibraltar': [6.29], 'Guernsey': [3.47], 'Iceland': [3.15], 'Ireland': [3.74], 'San Marino': [4.52], 'Jersey': [3.86], 'Malta': [3.59], 'Isle of Man': [4.17], 'Moldova': [12.93], 'Portugal': [4.48], 'United Kingdom': [4.44], 'Afghanistan': [117.23], 'China': [14.79], 'Iran': [39.0], 'Pakistan': [57.48], 'Tajikistan': [35.03], 'Turkmenistan': [38.13], 'Uzbekistan': [19.84], 'Armenia': [13.97], 'Georgia': [16.68], 'Azerbaijan': [26.67], 'Bahrain': [9.68], 'Bangladesh': [45.67], 'Myanmar': [44.91], 'India': [43.19], 'Bhutan': [37.89], 'Brunei': [10.48], 'Malaysia': [13.69], 'Laos': [54.53], 'Thailand': [9.86], 'Cambodia': [51.36], 'Vietnam': [18.99], 'Kazakhstan': [21.61], 'North Korea': [24.5], 'Kyrgyzstan': [28.71], 'Hong Kong': [2.73], 'Macao': [3.13], 'Mongolia': [23.15], 'Nepal': [40.43], 'Cyprus': [8.54], 'Gaza Strip': [30.6], 'Israel': [3.98], 'Egypt': [22.41], 'Indonesia': [25.16], 'Timor-Leste': [38.79], 'Papua New Guinea': [39.67], 'Iraq': [37.53], 'Jordan': [15.73], 'Kuwait': [7.51], 'Saudi Arabia': [14.58], 'Syria': [15.79], 'Lebanon': [7.98], 'West Bank': [28.6], 'Japan': [2.13], 'South Korea': [3.93], 'Maldives': [24.59], 'Oman': [14.0], 'United Arab Emirates': [10.92], 'Yemen': [50.41], 'Philippines': [17.64], 'Qatar': [6.42], 'Singapore': [2.53], 'Sri Lanka': [9.02], 'Taiwan': [4.49], 'Anguilla': [3.4], 'Antigua and Barbuda': [13.29], 'Aruba': [11.74], 'Bahamas': [12.5], 'Barbados': [10.93], 'Belize': [20.31], 'Guatemala': [23.51], 'Mexico': [12.58], 'Bermuda': [2.48], 'British Virgin Islands': [13.45], 'Canada': [4.71], 'United States': [6.17], 'Cayman Islands': [6.21], 'Costa Rica': [8.7], 'Nicaragua': [20.36], 'Panama': [10.7], 'Cuba': [4.7], 'Dominica': [11.61], 'Dominican Republic': [19.63], 'Haiti': [49.43], 'El Salvador': [18.44], 'Honduras': [18.72], 'Greenland': [9.42], 'Grenada': [10.5], 'Guadeloupe': [8.3], 'Jamaica': [13.69], 'Martinique': [7.1], 'Montserrat': [13.66], 'Sint Maarten': [9.05], 'Colombia': [15.02], 'Puerto Rico': [7.73], 'Saint Kitts and Nevis': [8.98], 'Saint Lucia': [11.75], 'Saint Pierre and Miquelon': [6.95], 'Saint Vincent and the Grenadines': [13.07], 'Trinidad and Tobago': [24.82], 'Turks and Caicos Islands': [10.97], 'Virgin Islands': [6.79], 'American Samoa': [8.92], 'Australia': [4.43], 'Cook Islands': [14.33], 'Fiji': [10.2], 'French Polynesia': [4.78], 'Guam': [5.51], 'Kiribati': [35.37], 'Marshall Islands': [21.39], 'Micronesia': [21.93], 'Nauru': [8.21], 'New Caledonia': [5.46], 'New Zealand': [4.59], 'Northern Mariana Islands': [5.5], 'Palau': [11.46], 'Solomon Islands': [16.17], 'Tonga': [12.36], 'Tuvalu': [31.69], 'Vanuatu': [16.41], 'Wallis and Futuna': [4.49], 'Samoa': [20.5], 'Argentina': [9.96], 'Bolivia': [38.61], 'Brazil': [19.21], 'Chile': [7.02], 'Paraguay': [20.75], 'Uruguay': [8.97], 'Peru': [20.21], 'French Guiana': [14.6], 'Guyana': [33.56], 'Suriname': [27.07], 'Venezuela': [19.33], 'Ecuador': [17.93], 'Algeria': [21.76], 'Libya': [11.87], 'Mali': [104.34], 'Mauritania': [56.06], 'Morocco': [24.52], 'Niger': [86.27], 'Tunisia': [23.19], 'Western Sahara': [145.82], 'Angola': [79.99], 'Congo': [59.34], 'Namibia': [45.64], 'Zaire': [73.15], 'Zambia': [66.62], 'Benin': [57.09], 'Burkina Faso': [76.8], 'Nigeria': [74.09], 'Togo': [46.73], 'Botswana': [9.38], 'South Africa': [41.61], 'Zimbabwe': [26.55], 'Cote dIvoire': [60.16], 'Ghana': [38.52], 'Burundi': [63.44], 'Rwanda': [59.59], 'Tanzania': [43.74], 'Cameroon': [55.1], 'Central African Republic': [92.86], 'Chad': [90.3], 'Equatorial Guinea': [71.12], 'Gabon': [47.03], 'Cape Verde': [24.28], 'Sudan': [52.86], 'South Sudan': [68.16], 'Comoros': [65.31], 'Guinea': [55.24], 'Liberia': [69.19], 'Djibouti': [50.2], 'Eritrea': [38.44], 'Ethiopia': [55.77], 'Somalia': [100.14], 'Kenya': [40.71], 'Gambia': [65.74], 'Senegal': [52.72], 'Guinea-Bissau': [90.92], 'Sierra Leone': [73.29], 'Uganda': [60.82], 'Lesotho': [50.48], 'Madagascar': [44.88], 'Malawi': [48.01], 'Mozambique': [72.42], 'Mauritius': [10.59], 'Mayotte': [56.29], 'Swaziland': [54.82], 'Reunion': [7.5], 'Saint Helena': [17.63], 'Sao Tome and Principe': [49.16], 'Seychelles': [10.77]}

In [9]:
#10 countries with the lowest infant mortality rates
df = pd.DataFrame.from_dict(record, orient='index')
df.reset_index(inplace=True)
df.columns = ['country', 'mortality_rate']
df.sort('mortality_rate').head(10)

/Users/Jing/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

            country  mortality_rate
36           Monaco            1.81
90            Japan            2.13
109         Bermuda            2.48
34           Norway            2.48
98        Singapore            2.53
35           Sweden            2.60
8    Czech Republic            2.63
72        Hong Kong            2.73
73            Macao            3.13
39          Iceland            3.15

### 10 cities with the largest population

In [10]:
#dictionary of country name and population
record = {}
for element in tree.iterfind('country'):
    try:
        record[element.find('name').text] = [int(element.find('population').text)]
    except:
        pass
print (record)

{'Albania': [1214489], 'Greece': [1096810], 'Macedonia': [808724], 'Serbia': [6732256], 'Montenegro': [311341], 'Kosovo': [1584440], 'Andorra': [6197], 'France': [40502513], 'Spain': [18618086], 'Austria': [4497873], 'Czech Republic': [8876260], 'Germany': [68230796], 'Hungary': [9204799], 'Italy': [22182377], 'Liechtenstein': [13757], 'Slovakia': [3436574], 'Slovenia': [1101854], 'Switzerland': [4668088], 'Belarus': [7745003], 'Latvia': [1929387], 'Lithuania': [2567402], 'Poland': [23929757], 'Ukraine': [37297652], 'Russia': [102798657], 'Belgium': [8879814], 'Luxembourg': [290992], 'Netherlands': [2078487], 'Bosnia and Herzegovina': [2565277], 'Croatia': [3850295], 'Bulgaria': [3154375], 'Romania': [15872624], 'Turkey': [13648270], 'Denmark': [4281275], 'Estonia': [881455], 'Faroe Islands': [31781], 'Finland': [4008299], 'Norway': [3265278], 'Sweden': [7009913], 'Monaco': [20000], 'Gibraltar': [1816], 'Guernsey': [43652], 'Holy See': [840], 'Ceuta': [73182], 'Melilla': [79056], 'Iceland': [78470], 'Ireland': [3221823], 'San Marino': [12781], 'Jersey': [28600], 'Malta': [305991], 'Isle of Man': [55253], 'Moldova': [2341003], 'Portugal': [3829618], 'Svalbard': [2116], 'United Kingdom': [50616012], 'Afghanistan': [7450738], 'China': [543776080], 'Iran': [17119263], 'Pakistan': [37542380], 'Tajikistan': [1485000], 'Turkmenistan': [1211000], 'Uzbekistan': [6313997], 'Armenia': [881300], 'Georgia': [3527004], 'Azerbaijan': [1806700], 'Bahrain': [89970], 'Bangladesh': [28927786], 'Myanmar': [7722053], 'India': [238396327], 'Bhutan': [176795], 'Brunei': [48001], 'Malaysia': [6109907], 'Laos': [1682917], 'Thailand': [8149487], 'Cambodia': [4432716], 'Vietnam': [24949467], 'Kazakhstan': [6702996], 'North Korea': [6014099], 'Kyrgyzstan': [1740000], 'Hong Kong': [283205], 'Macao': [187772], 'Mongolia': [738200], 'Nepal': [5638749], 'Christmas Island': [2771], 'Cocos Islands': [628], 'Cyprus': [186173], 'Gaza Strip': [1022207], 'Israel': [1257971], 'Egypt': [18967000], 'Indonesia': [72592192], 'Timor-Leste': [433398], 'Papua New Guinea': [1708192], 'Iraq': [5719191], 'Jordan': [448861], 'Kuwait': [152249], 'Saudi Arabia': [3121336], 'Syria': [3413329], 'Lebanon': [1334618], 'West Bank': [1873476], 'Japan': [82199470], 'South Korea': [20166756], 'Maldives': [73716], 'Oman': [456418], 'United Arab Emirates': [69590], 'Yemen': [4661279], 'Philippines': [1502574], 'Qatar': [24999], 'Singapore': [1022098], 'Sri Lanka': [2400380], 'Taiwan': [7561863], 'Anguilla': [8960], 'Antigua and Barbuda': [35157], 'Aruba': [38066], 'Bahamas': [79088], 'Barbados': [210995], 'Belize': [68918], 'Guatemala': [2790868], 'Mexico': [28295514], 'Bermuda': [18994], 'British Virgin Islands': [6505], 'Canada': [3689257], 'United States': [157813040], 'Cayman Islands': [933], 'Costa Rica': [120499], 'Nicaragua': [1057023], 'Panama': [336742], 'Cuba': [5919997], 'Dominica': [27178], 'Dominican Republic': [2380116], 'Haiti': [3097220], 'El Salvador': [146684], 'Honduras': [1200542], 'Greenland': [24118], 'Grenada': [76676], 'Guadeloupe': [386566], 'Jamaica': [1402896], 'Martinique': [381427], 'Montserrat': [12120], 'Curacao': [50165], 'Sint Maarten': [1497], 'Saint Martin': [29820], 'Saint Barthelemy': [8673], 'Colombia': [11999600], 'Puerto Rico': [953243], 'Saint Kitts and Nevis': [46054], 'Saint Lucia': [82783], 'Saint Pierre and Miquelon': [4606], 'Saint Vincent and the Grenadines': [61647], 'Trinidad and Tobago': [563222], 'Turks and Caicos Islands': [5052], 'Virgin Islands': [26665], 'American Samoa': [18937], 'Australia': [2250194], 'Cook Islands': [14088], 'Fiji': [127486], 'French Polynesia': [61469], 'Guam': [59498], 'Kiribati': [26100], 'Marshall Islands': [9800], 'Micronesia': [29660], 'Nauru': [2066], 'New Caledonia': [68480], 'New Zealand': [815862], 'Niue': [4667], 'Norfolk Island': [2209], 'Northern Mariana Islands': [9640], 'Palau': [7441], 'Pitcairn': [68], 'Solomon Islands': [89793], 'Tonga': [47220], 'Tuvalu': [5166], 'Tokelau': [1570], 'Vanuatu': [47695], 'Wallis and Futuna': [8546], 'Samoa': [82102], 'Argentina': [17150335], 'Bolivia': [2704165], 'Brazil': [53974725], 'Chile': [6081931], 'Paraguay': [1328452], 'Uruguay': [131969], 'Peru': [7632461], 'French Guiana': [157213], 'Guyana': [375701], 'Suriname': [183681], 'Venezuela': [5093708], 'Ecuador': [3452498], 'Falkland Islands': [2043], 'Algeria': [8872247], 'Libya': [1113382], 'Mali': [4637634], 'Mauritania': [660491], 'Morocco': [11626470], 'Niger': [2559703], 'Tunisia': [3230952], 'Western Sahara': [222631], 'Angola': [4147509], 'Congo': [807726], 'Namibia': [228910], 'Zaire': [12183661], 'Zambia': [2372431], 'Benin': [2255221], 'Burkina Faso': [4284457], 'Nigeria': [37859744], 'Togo': [1395458], 'Botswana': [120776], 'South Africa': [5174000], 'Zimbabwe': [2746854], 'Cote dIvoire': [2630131], 'Ghana': [4980878], 'Burundi': [2308923], 'Rwanda': [2186187], 'Tanzania': [7649766], 'Cameroon': [4466498], 'Central African Republic': [1326653], 'Chad': [2502314], 'Equatorial Guinea': [225536], 'Gabon': [473300], 'Cape Verde': [148331], 'Sudan': [5733944], 'South Sudan': [4929267], 'Comoros': [156334], 'Guinea': [3093651], 'Liberia': [930026], 'Djibouti': [62001], 'Eritrea': [1141300], 'Ethiopia': [18128034], 'Somalia': [2264081], 'Kenya': [6076757], 'Gambia': [271372], 'Senegal': [2476638], 'Guinea-Bissau': [510777], 'Sierra Leone': [1944001], 'Uganda': [5158193], 'Lesotho': [733942], 'Madagascar': [4083554], 'Malawi': [2880700], 'Mozambique': [5738911], 'Mauritius': [181318], 'Mayotte': [212645], 'Swaziland': [273000], 'Reunion': [706300], 'Saint Helena': [7637], 'Sao Tome and Principe': [60490], 'Seychelles': [36322]}

In [11]:
#10 cities with the largest population
df = pd.DataFrame.from_dict(record, orient='index')
df.reset_index(inplace=True)
df.columns = ['country', 'population']
df.sort('population',ascending=False).head(10)

/Users/Jing/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

            country  population
55            China   543776080
67            India   238396327
120   United States   157813040
23           Russia   102798657
98            Japan    82199470
88        Indonesia    72592192
11          Germany    68230796
176          Brazil    53974725
53   United Kingdom    50616012
7            France    40502513

### 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [12]:
#create a dataframe consists of countryname, ethnicgroup, and population of each ethnic group in each country.
df = pd.DataFrame(columns=['countryname','ethnicgroup','percentage','population_country','population_ethnic'])
for country in root.getiterator('country'):
    for element in country:
        if element.tag == 'ethnicgroup':
            df = df.append({'countryname': country.find('name').text,
                           'ethnicgroup': element.text,
                            'percentage': element.attrib['percentage'],
                            'population_country': country.find('population').text
                           },ignore_index=True)
df['population_ethnic'] = (df['percentage'].astype(float)/100)*df['population_country'].astype(int)
df.head()

  countryname ethnicgroup percentage population_country  population_ethnic
0     Albania    Albanian         95            1214489        1153764.550
1     Albania       Greek          3            1214489          36434.670
2      Greece       Greek         93            1096810        1020033.300
3   Macedonia  Macedonian       64.2             808724         519200.808
4   Macedonia    Albanian       25.2             808724         203798.448

In [13]:
#The top 10 largest overall populations ethnic groups
df_grouped = df.groupby('ethnicgroup').sum()
df_grouped.sort_values(by='population_ethnic', ascending=False).head(10)

             population_ethnic
ethnicgroup
Han Chinese       4.975551e+08
European          1.928658e+08
Indo-Aryan        1.716454e+08
Russian           9.275844e+07
African           8.632937e+07
Japanese          8.170627e+07
German            6.623219e+07
Dravidian         5.959908e+07
English           4.231499e+07
Mestizo           3.554233e+07

### Name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [36]:
riverlength = pd.DataFrame.from_dict(record, orient='index')
riverlength.reset_index(inplace=True)
riverlength.columns = ['river_name', 'length']
riverlength.sort('length', ascending = False).head(1)

/Users/Jing/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    river_name  length
170   Amazonas    6448

            Country_Code           River_Name  River_Length
0                     IS              Thjorsa         230.0
1                     IS  Joekulsa a Fjoellum         206.0
2                      N               Glomma         604.0
3                      N                Lagen         322.0
4                      S            Goetaaelv          93.0
5                    N S             Klaraelv         460.0
6                      S              Umeaelv         470.0
7                      S              Dalaelv         520.0
8                      S       Vaesterdalaelv         320.0
9                      S        Oesterdalaelv         241.0
10                SF N R            Paatsjoki         145.0
11                    SF            Ounasjoki         300.0
12                    SF             Kemijoki         550.0
13                    SF             Oulujoki         107.0
14                    SF             Kymijoki         203.0
15                    SF        Kokemaeenjoki         121.0
16                  SF R               Vuoksi         162.0
17                    GB               Thames         346.0
18                NL B F                 Maas         925.0
19                     F                Loire        1013.0
20                   F E              Garonne         647.0
21                  F CH                Rhone         812.0
22                     F                Saone         480.0
23                  F CH                Doubs         453.0
24                     F                Isere         290.0
25                     F                Seine         776.0
26                     F                Marne         514.0
27                   E P                 Tajo        1007.0
28                   E P                Douro         897.0
29                   E P             Guadiana         742.0
..                   ...                  ...           ...
199          ZRE RCA RCB               Ubangi        1120.0
200              ZRE RCA                 Bomu         280.0
201                  ZRE                Uelle        1130.0
202                  ZRE                  Kwa         100.0
203                  ZRE                 Fimi         200.0
204                  ZRE              Lukenie         900.0
205              ANG ZRE                Kasai        1983.0
206              ANG ZRE               Cuango        1100.0
207              ANG ZRE                Cuilo         970.0
208                  ZRE                 Ruki         130.0
209                  ZRE               Busira         830.0
210                  ZRE              Tshuapa        1300.0
211                  ZRE                Lulua         970.0
212                  ZRE               Lomami        1450.0
213                  ZRE              Aruwimi        1287.0
214                  ZRE               Lukuga         350.0
215           ZRE RWA BI               Ruzizi         104.0
216                  ZRE                Luvua         350.0
217                ZRE Z              Luapula         300.0
218  ANG NAM RB Z ZW MOC              Zambezi        2574.0
219               MW MOC                Chire         402.0
220           ANG NAM RB             Okavango        1700.0
221        RSA MOC ZW RB              Limpopo        1750.0
222           LS NAM RSA               Oranje        2160.0
223                  RSA                 Vaal        1251.0
224                  AUS         Murray River        2589.0
225                  AUS        Darling River        2739.0
226                  AUS   Murrumbidgee River        1579.0
227                  AUS      Eucumbene River          83.0
228                  AUS          Snowy River         403.0

[229 rows x 3 columns]

In [57]:
# Create a new, expanded dataframe so that each river has one country code association

expanded_river_list = []
for row in river_df.itertuples(): 
    if len(row[1].split(' ')) == 1:
        entry = [row[1], row[2], row[3]]
        expanded_river_list.append(entry)
    else:
        for code in row[1].split(' '):
            entry = [code, row[2], row[3]]
            expanded_river_list.append(entry)

expanded_river_df = pd.DataFrame(columns=['Country_Code', 'River_Name', 'River_Length'])
expanded_river_df = expanded_river_df.append(pd.DataFrame(expanded_river_list, columns=['Country_Code', 'River_Name', 'River_Length']), 
                             ignore_index=True)

# Display new, expanded dataframe
expanded_river_df

# Iendtify longest river
expanded_river_df.sort('River_Length', ascending = False)

/Users/Jing/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:21: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    Country_Code         River_Name  River_Length
294           CO           Amazonas        6448.0
296           PE           Amazonas        6448.0
295           BR           Amazonas        6448.0
237           CN            Jangtse        6380.0
236           CN            Hwangho        4845.0
212            R               Lena        4400.0
353          RCB              Zaire        4374.0
354          ZRE              Zaire        4374.0
240          THA             Mekong        4350.0
239          LAO             Mekong        4350.0
238           CN             Mekong        4350.0
242           VN             Mekong        4350.0
241            K             Mekong        4350.0
201           CN            Irtysch        4248.0
200          KAZ            Irtysch        4248.0
199            R            Irtysch        4248.0
322          RMM              Niger        4184.0
323           RN              Niger        4184.0
324          WAN              Niger        4184.0
325           RG              Niger        4184.0
275          USA           Missouri        4130.0
207            R           Jenissej        4092.0
306           PY             Parana        3998.0
305           BR             Parana        3998.0
304           RA             Parana        3998.0
274          USA        Mississippi        3778.0
198            R                 Ob        3650.0
193            R              Volga        3531.0
235           CN      Tarim-Yarkend        3260.0
257          USA        Yukon River        3185.0
..           ...                ...           ...
11            SF          Paatsjoki         145.0
103          BIH               Tara         140.0
102          MNE               Tara         140.0
155           MK         Black Drin         133.0
230          TAD            Bartang         133.0
154           AL         Black Drin         133.0
373          ZRE               Ruki         130.0
270          CDN  Riviere Richelieu         124.0
18            SF      Kokemaeenjoki         121.0
268          USA  Saint Marys River         120.0
267          CDN  Saint Marys River         120.0
104          MNE               Piva         120.0
105          BIH               Piva         120.0
16            SF           Oulujoki         107.0
382           BI             Ruzizi         104.0
381          RWA             Ruzizi         104.0
380          ZRE             Ruzizi         104.0
364          ZRE                Kwa         100.0
4              S          Goetaaelv          93.0
408          AUS    Eucumbene River          83.0
181           EW              Narva          78.0
180            R              Narva          78.0
48             I             Mincio          75.0
178            R               Newa          74.0
264          USA      Niagara River          58.0
263          CDN      Niagara River          58.0
149           AL               Buna          44.0
150          MNE               Buna          44.0
62             D            Brigach          43.0
70             D               Würm          35.0

[410 rows x 3 columns]

In [58]:
# Begin to parse XML on the river node

river_list = []
group = []
for river in root.findall('river'):
    try:
        group = [river.attrib['country'], river.find('name').text, int(river.find('length').text)]
        river_list.append(group)
    except:
        pass

# Create a dataframe containing country code, river name, and river length    
columns = ['Country_Code', 'River_Name', 'River_Length']
river_df = pd.DataFrame(columns=columns)
river_df = river_df.append(pd.DataFrame(river_list, columns=columns), ignore_index=True)

# Display resulting dataframe
river_df

            Country_Code           River_Name  River_Length
0                     IS              Thjorsa         230.0
1                     IS  Joekulsa a Fjoellum         206.0
2                      N               Glomma         604.0
3                      N                Lagen         322.0
4                      S            Goetaaelv          93.0
5                    N S             Klaraelv         460.0
6                      S              Umeaelv         470.0
7                      S              Dalaelv         520.0
8                      S       Vaesterdalaelv         320.0
9                      S        Oesterdalaelv         241.0
10                SF N R            Paatsjoki         145.0
11                    SF            Ounasjoki         300.0
12                    SF             Kemijoki         550.0
13                    SF             Oulujoki         107.0
14                    SF             Kymijoki         203.0
15                    SF        Kokemaeenjoki         121.0
16                  SF R               Vuoksi         162.0
17                    GB               Thames         346.0
18                NL B F                 Maas         925.0
19                     F                Loire        1013.0
20                   F E              Garonne         647.0
21                  F CH                Rhone         812.0
22                     F                Saone         480.0
23                  F CH                Doubs         453.0
24                     F                Isere         290.0
25                     F                Seine         776.0
26                     F                Marne         514.0
27                   E P                 Tajo        1007.0
28                   E P                Douro         897.0
29                   E P             Guadiana         742.0
..                   ...                  ...           ...
199          ZRE RCA RCB               Ubangi        1120.0
200              ZRE RCA                 Bomu         280.0
201                  ZRE                Uelle        1130.0
202                  ZRE                  Kwa         100.0
203                  ZRE                 Fimi         200.0
204                  ZRE              Lukenie         900.0
205              ANG ZRE                Kasai        1983.0
206              ANG ZRE               Cuango        1100.0
207              ANG ZRE                Cuilo         970.0
208                  ZRE                 Ruki         130.0
209                  ZRE               Busira         830.0
210                  ZRE              Tshuapa        1300.0
211                  ZRE                Lulua         970.0
212                  ZRE               Lomami        1450.0
213                  ZRE              Aruwimi        1287.0
214                  ZRE               Lukuga         350.0
215           ZRE RWA BI               Ruzizi         104.0
216                  ZRE                Luvua         350.0
217                ZRE Z              Luapula         300.0
218  ANG NAM RB Z ZW MOC              Zambezi        2574.0
219               MW MOC                Chire         402.0
220           ANG NAM RB             Okavango        1700.0
221        RSA MOC ZW RB              Limpopo        1750.0
222           LS NAM RSA               Oranje        2160.0
223                  RSA                 Vaal        1251.0
224                  AUS         Murray River        2589.0
225                  AUS        Darling River        2739.0
226                  AUS   Murrumbidgee River        1579.0
227                  AUS      Eucumbene River          83.0
228                  AUS          Snowy River         403.0

[229 rows x 3 columns]

In [59]:
#CO, PE, BR
country_river_df = expanded_river_df.merge(country_codes_df, how='left', on='Country_Code')
print('The Amazonas river is the longest, and is associated with Brazil, Colombia, and Peru.')
country_river_df.sort_values(by=['River_Length', 'Country'], ascending=[False, True]).head(3)

The Amazonas river is the longest, and is associated with Brazil, Colombia, and Peru.

    Country_Code River_Name  River_Length   Country
295           BR   Amazonas        6448.0    Brazil
294           CO   Amazonas        6448.0  Colombia
296           PE   Amazonas        6448.0      Peru