# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [14]:
# load json as string
data = json.load((open('data/world_bank_projects_less.json')))

In [15]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [62]:
df = pd.read_json('data/world_bank_projects.json')
json = json.load((open('data/world_bank_projects.json')))

In [36]:
#Find the 10 countries with most projects
df.countryshortname.value_counts().head(10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [131]:
themes = json_normalize(json,'mjtheme_namecode',['id'])
import numpy as np

themes = themes.replace(r'' , np.NaN).sort(['code','name']).fillna(method='ffill')
#The top 10 major project themes
themes.name.value_counts().head(10)

/Users/Jing/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

     code                 name       id
2       1  Economic management  P144674
88      1  Economic management  P132425
175     1  Economic management  P118027
204     1  Economic management  P126034
205     1  Economic management  P126034
220     1  Economic management  P144917
222     1  Economic management  P145865
223     1  Economic management  P145018
249     1  Economic management  P132948
357     1  Economic management  P130459
453     1  Economic management  P128573
454     1  Economic management  P130925
458     1  Economic management  P130925
497     1  Economic management  P133663
647     1  Economic management  P129825
648     1  Economic management  P129825
784     1  Economic management  P110836
803     1  Economic management  P127332
841     1  Economic management  P122793
900     1  Economic management  P143819
1010    1  Economic management  P133706
1045    1  Economic management  P133791
1056    1  Economic management  P144633
1057    1  Economic management  P144633
1078    1  Economic management  P131234
1206    1  Economic management  P133255
1212    1  Economic management  P121019
1218    1  Economic management  P130824
1229    1  Economic management  P129465
1230    1  Economic management  P129465
...   ...                  ...      ...
669     9    Urban development  P127303
732     9    Urban development  P127036
737     9    Urban development  P117876
738     9    Urban development  P117876
739     9    Urban development  P127079
742     9    Urban development  P127079
822     9    Urban development  P125022
917     9    Urban development  P143770
930     9    Urban development  P126489
940     9    Urban development  P127955
962     9    Urban development  P132268
1095    9    Urban development  P130819
1102    9    Urban development  P130972
1103    9    Urban development  P130972
1104    9    Urban development  P130972
1166    9    Urban development  P101289
1290    9    Urban development  P118152
1303    9    Urban development  P130528
1318    9    Urban development  P130461
1342    9    Urban development  P130174
1347    9    Urban development  P131394
1425    9    Urban development  P112901
1426    9    Urban development  P112901
1428    9    Urban development  P118916
1470    9    Urban development  P128763
1473    9    Urban development  P128763
1495    9    Urban development  P126321
333     9    Urban development  P132154
460     9    Urban development  P117394
471     9    Urban development  P126817

[1499 rows x 3 columns]

In [132]:
#Dataframe with the missing names filled in
themes

     code                 name       id
2       1  Economic management  P144674
88      1  Economic management  P132425
175     1  Economic management  P118027
204     1  Economic management  P126034
205     1  Economic management  P126034
220     1  Economic management  P144917
222     1  Economic management  P145865
223     1  Economic management  P145018
249     1  Economic management  P132948
357     1  Economic management  P130459
453     1  Economic management  P128573
454     1  Economic management  P130925
458     1  Economic management  P130925
497     1  Economic management  P133663
647     1  Economic management  P129825
648     1  Economic management  P129825
784     1  Economic management  P110836
803     1  Economic management  P127332
841     1  Economic management  P122793
900     1  Economic management  P143819
1010    1  Economic management  P133706
1045    1  Economic management  P133791
1056    1  Economic management  P144633
1057    1  Economic management  P144633
1078    1  Economic management  P131234
1206    1  Economic management  P133255
1212    1  Economic management  P121019
1218    1  Economic management  P130824
1229    1  Economic management  P129465
1230    1  Economic management  P129465
...   ...                  ...      ...
669     9    Urban development  P127303
732     9    Urban development  P127036
737     9    Urban development  P117876
738     9    Urban development  P117876
739     9    Urban development  P127079
742     9    Urban development  P127079
822     9    Urban development  P125022
917     9    Urban development  P143770
930     9    Urban development  P126489
940     9    Urban development  P127955
962     9    Urban development  P132268
1095    9    Urban development  P130819
1102    9    Urban development  P130972
1103    9    Urban development  P130972
1104    9    Urban development  P130972
1166    9    Urban development  P101289
1290    9    Urban development  P118152
1303    9    Urban development  P130528
1318    9    Urban development  P130461
1342    9    Urban development  P130174
1347    9    Urban development  P131394
1425    9    Urban development  P112901
1426    9    Urban development  P112901
1428    9    Urban development  P118916
1470    9    Urban development  P128763
1473    9    Urban development  P128763
1495    9    Urban development  P126321
333     9    Urban development  P132154
460     9    Urban development  P117394
471     9    Urban development  P126817

[1499 rows x 3 columns]